<!DOCTYPE html>
<html>
  <head>
  	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  	
  	
    
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1>Bienvenido a <%= title %></h1>
    <p>¡El portal donde puedes crear tut propios juegos!</p>
  </body>
</html>
